## Database Configuration
*.cfg.*

## OS X Annoying files
.DS_Store

## Eclipse Stuffs
.classpath
.project
.metadata
**/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch
.settings/
/build/
/target/

Initialization.txt

src/projectObjects/ChangeOrderType.java

src/projectObjects/ChangeOrder.java

src/projectObjects/changeOrderObjects/ChangeOrder.java

src/projectObjects/ChangeOrderStatus.java

src/projectObjects/ChangeOrder.java

src/projectObjects/ChangeOrder.java
