#table
{
	border-collapse: collapse;
	width: 100%;
}

#table td
{
	text-align: left;
	padding: 8px;
}

#table tr:nth-child(even)
{
	background-color: #f2f2f2;
	
}

#table table, td, th {
    border: 1px solid black;
}
