@CHARSET "ISO-8859-1";

fieldset
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: white;
    width: 80%;
}

legend
{
    font-family: 'Raleway',sans-serif;
    font-size: 24px; 
    background: #800000;
    color: #EEEEEE;
    font-weight: 200;
    margin-bottom: -4%;
    border-radius: 10px;
    padding: 4px 12px;
    border: solid 1px dimgray;
}

.addParamButton
{
    display: inline;
	padding: .65em .25em;
    background-color: gray;
    color: #111111;
    line-height: .5em;
    font-family: 'Raleway',sans-serif;
    font-size: 18px; 
    text-align: right;
    margin-left: 75%;
    transition: all 0.4s ease 0s;
    border-radius: 8px;
}

.addParamButton:hover
{
    background: #676767;
}

p
{
	font-family: "Verdana", "sans-serif";
	display:inLine;
	font-size: 16px;
}

select
{
    background: lightgray;
    width: 250px;
    text-align: center;
    font-family: 'Raleway',sans-serif;
    font-size: 15px; 
    border: 0;
    line-height: 2em;
    margin-right: 8px;
}

select:first-child
{
	margin-top: 10px;
}


.projects
{
    background-color: gray;
    border: none;
    width: 100%;
}

.project
{
	padding-left: 8px;
    width: 100%;
    text-align: left;
    line-height: 2em;
    border: none;
    border-bottom: solid 1px #222222;
    font-family: 'proxima-nova',sans-serif;
    font-size: 20px; 
    transition: all .5s ease 0s;
    background-color: none;
}

.project a
{
	width: 100%;
	display: block;
	color: black;
	margin:0;
	padding: 0;
	padding-left: 8px;
	transition: all .5s ease 0s;
	background-color: gray;
}

b
{
	color: black;
}

.project:last-child
{
    border: none;
}

.project .projectLink:hover,
.project:hover
{
    background-color: dimgray;
}



