
.HorizontalBar 
{
	margin-top:1%;
	position: relative;
	border-style: solid ;
	border-width: 5px;
	text-align: center;
	height: 95px;
	background-color: white;
	width:97%;
	color:black;
		
}


#title
{
	font-size: 40%;
}


.horizontalBar .sub-menu a
{
  
}

.HorizontalBar a
{
margin-left:30%;
margin-top:13%;

}


