@CHARSET "ISO-8859-1";

#container
{
	margin-top: 4px;
}

#postsField
{
	float: left;
	width: 70%;
	height: 570px;
	background-color: rgba(0, 0, 0, 0.0);
	//background-color: dimgray;
	overflow-y: auto;
	overflow-x: hidden;
	//-webkit-box-shadow: -10px 10px 15px -10px rgba(0,0,0,0.75);
	//-moz-box-shadow: -10px 10px 15px -10px rgba(0,0,0,0.75);
	//box-shadow: -10px 10px 15px -10px rgba(0,0,0,0.75);
}

#globalTriggers
{
	float: right;
	height: 570px;
	width: 29%;
	background-color: #3F3F3F;
	-webkit-box-shadow: 10px 10px 15px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 15px -10px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 15px -10px rgba(0,0,0,0.75);
	overflow-y: auto;
}

#posts
{
	//background-color: gray;
		background-color: rgba(0, 0, 0, 0.0);
	padding: 0;
	margin: 0;
}

#posts li
{
	background-color: gray;
	width: 100%;
	padding: 0;
	margin: 0;
	border-bottom: 1.5px solid #444444;
	-webkit-transition: ease-in-out all .2s;
	border-radius: 24px 24px 24px 24px;
}

#posts li:hover:not(.isHidden)
{
	background-color: #868686;
}

#posts p
{
	line-height: .2em;
}

#posts .postTitle
{
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 20px;	
}

#posts .isHidden
{
	background-color: #6F6F6F;
}

#posts .isHidden:hover
{
	background-color: #676767;
}

#posts .postText, #posts .author
{
	text-align: left;
	padding: 0px 8px;
	font-size: 18px;
	line-height: 1.1em;
}

#posts li:nth-child(2) > p.postText
{
	margin-top: 30px;
}

#posts .author
{
	margin-top: -8px;
	margin-left: 68%;
}

#createPost
{
	margin-top: 0px;
	left: 8px;
	font-size: 16px;
	height: 30px;
	padding: 8px 8px;
	position: absolute;
	background-color: gray;
	border: 0;
	border-right: 1px solid #444444;
	border-bottom: 1px solid #444444;
	outline: 0;
	-webkit-transition: ease-in-out all .2s;
	border-radius: 24px 0 0 0;
}

#createPost:hover
{
	background-color: dimgray;
}

#newPost
{
	display:none;
}

#newPostTitle
{
	float: left;
	margin-top: 8px;
	margin-left: 182px;
	font-size: 20px;
	width: 40%;
	text-align: center;
}

#newPostText
{
	float: left;
	margin-left: 8px;
	margin-bottom: 8px;
	font-size: 16px;
	width: 95%;
	max-width: 98%;
	height: 60px;
}

.postButtons
{
	float: left;
	margin-left: 16px;
	margin-bottom: 8px;
	font-size: 16px;
	padding: 8px 8px;	
}

#alerts
{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.0);
}

#alerts li
{	
	width: 96%;
	margin-left: 2%;
	margin-top: 1%;
	background: #333333;
	border: 0;
	border-radius: 16px;
	-webkit-transition: ease-in-out all .2s;
	border: 1px solid #2A2A2A;
}

#alerts li p
{
	text-align: center;
	color: #D4d4d4;
	width: 100%;
	line-height: 1.0em;
	-webkit-transition: ease-in-out all .2s;
	-webkit-transition: ease-in-out all .3s;
    -webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;  
}

#alerts li:hover
{	
	background-color: #282828;	
	cursor: pointer;
	
}

#alerts li:hover p
{
	color: white;
	text-decoration: underline;
}

#alerts #globalTriggersTitle
{
	margin: 0;
	width: 100%;
	border-radius: 0px;
	background-color: #222222;
}

#alerts #globalTriggersTitle > p
{
	line-height: 1px;
}

#alerts #globalTriggersTitle:hover
{
	background-color: #222222;
}

#alerts #globalTriggersTitle:hover p
{
	text-decoration: none;
	color: #D4D4D4;
}

