#login{
	position: absolute;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 15%;
	width: 360px;
	padding: 8px;
	border: 1px solid dimgray;
	background: #1d1d1d;
	color: #FFFFFF;
	font-family: arial;
	top: 34px;
	height: 160px;
	border-radius: 16px;
}

input{
	width: 90%;
	background: white;
	color: #000000;
	font-weight: bold;
}

#buttonWrapper
{
	width: 55%;
	margin: 0 auto;
}

#loginButton
{
	padding: 4px;
}

#notification
{
	margin-top: 30px;
}



