@CHARSET "ISO-8859-1";

/*----- Tabs -----*/
.tabs {
    width:100%;
	margin-top:1%;

}
 
    /*----- Tab Links -----*/
    /* Clearfix */
.tab-links:after
{
	display:inline-block;
	clear:both;
	content:'';
	float:left;

}

 
.tab-links  
{ 
    display:inline-block;
    float:left;
    width: 10%;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    background: #444444;
    margin-bottom: 1%;

}

.tab-links a
{
    font-family: 'Raleway',sans-serif;
    font-size: 24px; 
    padding: 14px 12px;
    font-size: 18px;
    border: 0;
    min-width: 120px;
    max-width: 120px;
}

 
    /*----- Content of Tabs -----*/
	/* content box*/
    .tab-content {
		position: relative;
        
		margin-left:2%;
		
		border-width: medium;
		float:left; 
		width:72%;
		height:80%;
		
		
                
    }
 
.tab 
{
    display:none;
    background: 0;
}
 

.tab.active 
{
    display:inline;
}
        
        
#dialog-window {
  height: 700px; 
  
}

#scrollable-content
{
  height: 100%;
  overflow: auto;
  width:100%; 
}

  

      