@CHARSET "ISO-8859-1";

/*----- Tabs -----*/
.tabs {
    width:100%;
    margin-top: 2%;
}

 
.tab-links  
{
    width: 175px;
    border: solid 2px black;

    border-radius: 8px;
    float:left;
    
    background: #444444;
    margin-bottom: 1%;

}

.tab-links a
{
    font-family: 'Raleway',sans-serif;
    font-size: 22px; 
    padding: 0px 8;
    font-size: 18px;
    border: 0;
    min-width: 140px;
    border-bottom: solid 1.5px #565656;
}

 
    /*----- Content of Tabs -----*/
	/* content box*/
.tab-content 
{
		position: relative;
		margin-left:2%;
		
		border-width: medium;
		float:left; 
		width:72%;
		height:80%;            
}
 
.tab 
{
    display:none;
    background: 0;
}
 

.tab.active 
{
    display:inline;
}
              
#dialog-window 
{
  height: 700px;   
}

#scrollable-content
{
  height: 100%;
  overflow: auto;
  width:100%; 
}

.dropdown-content-sideways a 
{
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: solid 1.5px gray;
}

.dropdown-content-sideways
{
    display:none;
    position: absolute;
    background-color: #6A6A6A;
    min-width: 120px;
    text-decoration: none;
    z-index: 1;
    padding: 0px 0px;
}

.dropdown-content-sideways a:last-child
{
	border-bottom: none;
}

.dropdown:hover .dropdown-content-sideways
{
    display: block;  
    margin-left: 8%;
}



  

      