.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: relative;
	top: -300px;
	right: -920px;
	display: none;
	justify-content: center;
	align-items: center;
	border: 3px solid #223f82;
}

.modal-contents {
	height: 275px;
	width: 910px;
	background-color: white;
	text-align: center;
	padding: 10px;
	position: relative;
	border-radius: 4px;
}

.buttonFormat{
	
	color: blue;
}

.bg-modal1 {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: relative;
	top: -300px;
	right: -920px;
	display: none;
	justify-content: center;
	align-items: center;
	border: 3px solid #223f82;
}

.modal-contents1 {
	height: 215px;
	width: 850px;
	background-color: white;
	text-align: center;
	padding: 10px;
	position: relative;
	border-radius: 4px;
}