
#equipmentTable > tbody > tr > td {
	font-size: 12px;
}

#projectTableDiv {
	width:100%;
    height:100%;
    overflow-y: scroll;
    max-width:100%;
    max-height:500px;
}

#changeOrderTableDiv {
	width:100%;
    height:100%;
    overflow-y: scroll;
    max-width:100%;
    max-height:500px;
}

#changeOrderTableDiv > #changeOrderTable > tbody td{
	font-size: 87%;
}


.editProject {
	display: none;
}

.projectDisplayWell {
	background: white;
}

#changeOrderInfo > table {
	width: 95%;
	table-layout : fixed;
	border-spacing: 0;	
}

#changeOrderInfo > table td {
	font-size: 87%;
}

#changeOrderInfo {
	width: 50%;
}

#changeOrderInfo > table td {
	padding: 2px;
}

#equipmentForm > table {
	width: 95%;
	table-layout : fixed;
	border-spacing: 0;	
}

#equipmentForm > table td {
	font-size: 87%;
}

#equipmentForm {
	width: 50%;
}

#equipmentForm > table td {
	padding: 2px;
}



.info-tab-schedulingInformation{	
	margin-right: auto;
	padding: 12px 12px 12px 12px;
	width: 100%;
	height: 100%;
	background-color: white;
	border: 1px solid #DDDDDD;
	border-radius: 0 4px 4px 4px;
}

.info-tab-financialInformation{
	margin-right: auto;
	padding: 12px 12px 12px 12px;
	width: 50%;
	height: 100%;
	background-color: white;
	border: 1px solid #DDDDDD;
	border-radius: 0 4px 4px 4px;
}

.info-tab-closeoutDocuments{
	margin-left: 0px;
	margin-right: auto;
	padding: 12px 12px 12px 12px;
	width: 80%;
	height: 100%;
	background-color: white;
	border: 1px solid #DDDDDD;
	border-radius: 0 4px 4px 4px;
}

.info-tab-proposalsInformation{
	margin-left: 0px;
	margin-right: auto;
	padding: 12px 12px 12px 12px;
	width: 80%;
	height: 100%;
	background-color: white;
	border: 1px solid #DDDDDD;
	border-radius: 0 4px 4px 4px;
}

.permitEditHeader{
	background-color: #ECF0FC;
}

.stageLabel, .coLabel, .closeoutLabel, .coNumber{
	font-weight: bold;
}

.subInvoiceNumber {
	padding-left: 40px;
	
}

.subInvoiceStatus {
	padding-left: 10px;
	
}


#changeOrderTable { 
	table-layout: fixed;
}

#changeOrderTable td { 
	word-wrap:break-word;
}

#closeoutDocuments  {
	width: 55%;
}

#closeoutDocumentsTable td  {
	font-size: 87%;
}

#finalInspections  {
	width: 55%;
}

#finalInspectionsTable td  {
	font-size: 87%;
}

#warrantyLetters  {
	width: 55%;
}

#warrantyLettersTable td  {
	font-size: 87%;
}

#finalLiens  {
	width: 55%;
}

#finalLiensTable td  {
	font-size: 87%;
}

#otherItems  {
	width: 55%;
}

#otherItemsTable td, #otherItemsSalvageTable td  {
	font-size: 87%;
}

#closeoutSummary  {
	width: 68%;
}

#closeoutSummaryDocumentsTable td, #closeoutSummaryCompletionTable td  {
	font-size: 87%;
}

#generalInformation  {
	width: 100%;
}

#tasksInformation  {
	width: 85%;
}

#generalInformationTable td  {
	font-size: 87%;
}

#schedulingInformation  {
	width: 100%;
}

#schedulingInformationTable td  {
	font-size: 87%;
}

#financialInformation  {
	width: 100%;
}

#financialInformationTable td  {
	font-size: 87%;
}

#taskCreationZone {
	width : 90%;
}

.scrollTextBox {
	height: 50px;
	width: 270px;
	resize: vertical;
}

.scrollTextBoxNewMaster {
	height: 1;
	width: 45;
	resize: vertical;
}

.scrollTextBoxCostEst {
	height: 35px;
	width: 200px;
	resize: vertical;
}

.scrollTextBoxCloseout {
	height: 40px;
	width: 350px;
	resize: vertical;
}

.scrollTextBoxCloseoutDocs {
	height: 40px;
	width: 230px;
	resize: vertical;
}

.scrollTextBoxTask {
	height: 40px;
	width: 100%;
	resize: vertical;
}
.scrollTextBoxPendInvs {
	height: 60px;
	width: 70%;
	resize: vertical;
}
.pendInvCreationTable td:nth-child(1){
		width:20%;
	}
.pendInvCreationTable td:nth-child(2){
		width:80%;
	}
.scrollTextBoxPermits {
	height: 40px;
	width: 100%;
	resize: vertical;
}

.scrollTextBoxCO {
	height: 40px;
	width: 270px;
	resize: vertical;
}

.scrollTextBoxEquip {
	height: 40px;
	width: 255px;
	resize: vertical;
}
/* ////////////////////////SCORE CARD CSS///////////////////////////////////// */
.scoreTopDivWidth{
    width:50%;
}
.scoreTopDivWidth li{
    height:50px;
    margin: 10px;
    font-size:17px;
    font-weight: bold;
    color:white;
}
.scoreTopDivWidth li:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.failRulesAll{
	text-align:center;
}


/* ////////////////////////SCORE CARD TABLE CSS///////////////////////////////////// */

.scoreCardTableHeaderClass th{
	font-size:17px;
	font-family:Arial;

  
}
.scoreCardTableHeaderClass td{
	font-size:17px;
	font-family:Arial;
	border: 1px solid #dddddd;


  	height:40px;
  
}

.scoreCardTableHeaderClass tbody tr:hover{
	 transform: scale(1.05);
}

table.scoreCardTableHeaderClass{
	border-collapse:separate;
	border-spacing:10px 10px;padding: 0px 150px 0px 100px;
	margin: 0 auto;
	background:white;

	}

table.scoreCardTableHeaderClass tbody td:nth-child(1){
	text-align:left;
	font-weight: bold;
	padding: 0px 40px 0px 40px;
	background:#F2F2F2
	}
table.scoreCardTableHeaderClass tbody td:nth-child(2){
	padding: 0px 100px 0px 100px;
	color:white;
	text-align:center;
	font-weight: bold;
	}		
table.scoreCardTableHeaderClass tbody td:nth-child(3){
	text-align:center;
	font-weight: bold;
	padding: 0px 100px 0px 100px;
	}
table.scoreCardTableHeaderClass thead tr:nth-child(1) th{
	color:white;
	background:#9C756E;
	text-align:left;
	height:50px;
	text-align:center;
}
table.scoreCardTableHeaderClass thead tr:nth-child(2) th{
	text-align:center;
}

table.permitsAndInspectionsHovering tbody tr:hover{
		 background:#DDDDDD;
}

#failedRulesTable table td:nth-child(1){
		color:white;
		font-weight: bold;
			font-size:19px;
}

#failedRulesTable table td:nth-child(2){
    text-align: left;
    font-weight: bold;
    padding: 10px 0px 0px 50px;
   
}

#tasksFailedTable td:nth-child(3){
	    text-align: left;
    font-weight: bold;
    padding: 10px 0px 0px 50px;

	}
#changeOrdersFailedTable td:nth-child(3){
	    text-align: left;
    font-weight: bold;
    padding: 10px 0px 0px 50px;

	}

#equipmentFailedTable td:nth-child(3){
	    text-align: left;
    font-weight: bold;
    padding: 10px 0px 0px 50px;

	}	

.BrownBgWhiteColor thead tr:nth-child(1){
	    color: white;
    background: #9C756E;
	
}
#buttonsGroup {
    margin-top: 18px;
    overflow: hidden;
}

#buttonsGroup :first-child {
    float: right;
    background-color:#172a56; 
    border-color:#172a56;
}

#buttonsGroup :nth-child(2) {
    margin-right: 7px;
    float: right;
    background-color:#172a56; 
    border-color:#172a56;
}

 .circle_green
    {
     background-position:center center;
  background-image:
  
    radial-gradient(
      circle,
      green, green 13px, transparent 0px
    );

     /*  height: 25px;
	  width: 25px;
	  background-color: green;
	  border-radius: 50%;
	  display: block;
	  margin:auto;	 */
    }
    
 .circle_yellow
    {
        background-image:
  
	    radial-gradient(
	      circle,
	      yellow, yellow 13px, transparent 0px
	    );
     /*  height: 25px;
	  width: 25px;
	  background-color: yellow;
	  border-radius: 50%;
	  display: block;
	  margin:auto;	  */	

    }
  
 .circle_red
    {
   
   background-image:
  
    radial-gradient(
      circle,
      red, red 13px, transparent 0px
    ); 
   /*    height: 25px;
	  width: 25px;
	  background-color: red;
	  border-radius: 50%;
	  display: block;
	  margin:auto;	  */        
    }    
  .circle_onholdcancel
    {
   
   background-image:
  
    radial-gradient(
      circle,
      #191919, #191919 13px, transparent 0px
    ); 
   /*    height: 25px;
	  width: 25px;
	  background-color: #191919;
	  border-radius: 50%;
	  display: block;
	  margin:auto;	  */        
    }    
.generalOverFlowScroll{
	
	display:block;
	overflow:auto;
	max-height:420px;    
    }
 .selectNoBorder{
	 border:none;
	 outline:0;
	 background:none;
 }
 .pointer {
	cursor: pointer;
}
#results td{
	cursor:pointer;
}
#scoreCardFailedRulesDiv table tbody{
	cursor:pointer;
}
.eqTableBorder tbody td{
	border-left:1px solid #dddddd;
	cursor:pointer;
}
#changeOrderTable tbody td{
	cursor:pointer;
}

/* #results td:nth-child(4){
	display:none;
}
#results th:nth-child(4){
	display:none;
} */
