
#equipmentTable > tbody > tr > td {
	font-size: 12px;
}

#projectTableDiv {
	width:100%;
    height:100%;
    overflow-y: scroll;
    max-width:100%;
    max-height:500px;
}

#changeOrderTableDiv {
	width:100%;
    height:100%;
    overflow-y: scroll;
    max-width:100%;
    max-height:500px;
}

#changeOrderTableDiv > #changeOrderTable > tbody td{
	font-size: 87%;
}



.editProject {
	display: none;
}

.projectDisplayWell {
	background: white;
}

#changeOrderInfo > table {
	width: 95%;
	table-layout : fixed;
	border-spacing: 0;	
}

#changeOrderInfo > table td {
	font-size: 87%;
}

#changeOrderInfo {
	width: 50%;
}

#changeOrderInfo > table td {
	padding: 2px;
}

#equipmentForm > table {
	width: 95%;
	table-layout : fixed;
	border-spacing: 0;	
}

#equipmentForm > table td {
	font-size: 87%;
}

#equipmentForm {
	width: 50%;
}

#equipmentForm > table td {
	padding: 2px;
}



.info-tab-schedulingInformation{
	margin-left: 30px;
	margin-right: auto;
	padding: 12px 12px 12px 12px;
	width: 50%;
	height: 100%;
	background-color: white;
	border: 1px solid #DDDDDD;
	border-radius: 0 4px 4px 4px;
}

.info-tab-financialInformation{
	margin-left: 30px;
	margin-right: auto;
	padding: 12px 12px 12px 12px;
	width: 50%;
	height: 100%;
	background-color: white;
	border: 1px solid #DDDDDD;
	border-radius: 0 4px 4px 4px;
}

.info-tab-closeoutDocuments{
	margin-left: 0px;
	margin-right: auto;
	padding: 12px 12px 12px 12px;
	width: 80%;
	height: 100%;
	background-color: white;
	border: 1px solid #DDDDDD;
	border-radius: 0 4px 4px 4px;
}

.permitEditHeader{
	background-color: #ECF0FC;
}

.stageLabel, .coLabel, .closeoutLabel, .coNumber{
	font-weight: bold;
}




#changeOrderTable { 
	table-layout: fixed;
}

#changeOrderTable td { 
	word-wrap:break-word;
}

#closeoutDocuments  {
	width: 55%;
}

#closeoutDocumentsTable td  {
	font-size: 87%;
}

#finalInspections  {
	width: 55%;
}

#finalInspectionsTable td  {
	font-size: 87%;
}

#warrantyLetters  {
	width: 55%;
}

#warrantyLettersTable td  {
	font-size: 87%;
}

#finalLiens  {
	width: 55%;
}

#finalLiensTable td  {
	font-size: 87%;
}

#otherItems  {
	width: 55%;
}

#otherItemsTable td, #otherItemsSalvageTable td  {
	font-size: 87%;
}

#closeoutSummary  {
	width: 68%;
}

#closeoutSummaryDocumentsTable td, #closeoutSummaryCompletionTable td  {
	font-size: 87%;
}

#generalInformation  {
	width: 55%;
}

#generalInformationTable td  {
	font-size: 87%;
}

#schedulingInformation  {
	width: 55%;
}

#schedulingInformationTable td  {
	font-size: 87%;
}

#financialInformation  {
	width: 55%;
}

#financialInformationTable td  {
	font-size: 87%;
}

#taskCreationZone {
	width : 90%;
}

.scrollTextBox {
	height: 50px;
	width: 270px;
	resize: vertical;
}

.scrollTextBoxCloseout {
	height: 40px;
	width: 350px;
	resize: vertical;
}

.scrollTextBoxCloseoutDocs {
	height: 40px;
	width: 230px;
	resize: vertical;
}

.scrollTextBoxTask {
	height: 40px;
	width: 230px;
	resize: vertical;
}

.scrollTextBoxPermits {
	height: 40px;
	width: 500px;
	resize: vertical;
}

.scrollTextBoxCO {
	height: 40px;
	width: 270px;
	resize: vertical;
}

.scrollTextBoxEquip {
	height: 40px;
	width: 255px;
	resize: vertical;
}
