#formFor {
	float: left;
	padding-right: 20px;
}

#projectManagerDropdown {
	float: center;
	padding-right: 20px;
}

#taskSelector {
	float: center;
	padding-right: 20px;
}

#displayTasks {
	float: center;
}

#projectSearch {
	float: center;
}


#printButton {
	width: 75%;
	margin-left: 13%;

}

#printButton:hover {
  background-color: white;
  color: #0d47a1;
  border-color: #0d47a1;
}

#taskTableDiv {
	width:100%;
    height:100%;
    overflow-y: scroll;
    max-width:100%;
    max-height:500px;
}

.headBorder {
	font-size: 15px;
	border-bottom: 3px solid #555;
}

.table > tbody > tr > td {
	font-size: 16px;
	border-bottom: 2px solid #555;
}

.table > tbody > tr:hover {
	background-color: #d7e1f7;
	transition-duration: .5s;
}


#taskTable > tbody > tr > td {
	font-size: 12px;
}

#taskTable {
	margin-top: 0px;
}

#taskWell > * {
	display:block;
	margin: 6px;
}
		
#taskWell > div > p {
	margin-bottom: 0px;
}
		
#taskWell textarea {
	width: 50%;
}

.taskWellButton:hover {
	background-color: black;
	color: white;
}
		
		
#taskTable {
   table-layout: fixed;
}

.param-field {
	width: 100%;
	background-color: white;
	padding: 4px 4px 4px 4px;
	border: 3px solid #223f82;
	border-style:solid;
	border-color: #4d78dc #1d346c #1d346c #2e54ad;
	border-radius: 4px;
}

/* datepicker customization */

#ui-datepicker-div {
	background-color: #cccccc;
	padding: 8px 8px 8px 8px;
	border: 1px solid #747474;
	border-radius: 4px;
	display: none;
}

#ui-datepicker-div > div {
	padding-top: 4px;
	padding-bottom: 8px;
	background-color: gray;
	border-radius: 4px;
	padding-left: 8px;
	padding-right: 8px;	
}

#ui-datepicker-div > div > a {
	display: inline;
	background-color: #dddddd;
	padding: 4px 4px;
	margin-right: 4px;
	border: 1px solid #7777aa;
	border-radius: 4px;
}

#ui-datepicker-div > div > div {
	display: inline;
	font-size: 18px;
	font-weight: 500;
}

#ui-datepicker-div > table {
	width: 100%;
	
}

#ui-datepicker-div > table > thead > tr > th {
	padding: 4px 4px;
}

#ui-datepicker-div > table >tbody {
	font-size: 16px;
}

#ui-datepicker-div > table > tbody > tr > td {	
	background-color: #fafafa;
	padding: 6px 6px;
	border: 1px solid #aaaaaa;	
	text-align: center;
}

#ui-datepicker-div > table > tbody > tr > td:hover:not(.ui-datepicker-unselectable) {
	background-color: #999999;
	color: blue;
}


.scrollTextBoxTask {
	height: 50px;
	width: 100px;
	resize: vertical;
}